* {
    box-sizing: border-box;
}

.left, .right, .center {
    float: left;
    width: 33%;
    height: 800px;
    padding: 10px;
    text-align-last: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.left {
    text-align: center;
    padding-top: 80px;
    border-right: solid black 10px;
}

.follow {
    display: block;
    font-size: 40px;
}

.leftpara {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-align: center;
    display: block;
}

#imgcent {
    width: 400px;
    height: 170px;
    margin-bottom: 0px;
}

.centCon {
    font-size: 40px;
    display: block;
}

.phone, .email, .addy {
    display: block;
    text-align-last: left;
}

.right {
    border-left: solid black 10px
}

.rightH1 {
    border-bottom: black 11px solid;
    border-top: black 11px solid;
    padding: 1.7px;
    margin: 14px;
}

.rightpara {
    display: block;
    text-align-last: left;
    margin: 25px 10px 10px 0px;
    padding: 0px 50px 0px 20px;
    text-align-last: left;
}

#text {
    font-size: 40px;
    font-weight: bolder;
}

.rightdatetime {
    display: block;
    text-align-last: left;
    padding: 0px 50px 0px 20px;
}

#imgLowRight {
    width: 100%;
    height: 275px;
    padding: 30px 0px 0px 5px
}